@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

body {
    justify-content: space-between;
}

header {
    width: 100%;
    background-color: #B7A18C;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #28272C;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p, button, label {
    color: #28272C;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 150%;
}

h1 {
    color: #28272C;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

h2 {
    color: #28272C;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

h3 {
    color: #28272C;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

h4 {
    color: #28272C;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

h5 {
    color: #28272C;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

footer {
    width: 100%;
    background-color: #46312C;
    margin-top: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

}

.white {
    color: #CFC7BA;
}

.grey {
    color: #544F4C;
}

.menu_footer, .left_footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.vk {
    width: 24px;
    height: 24px;
}

main, body {
    background-color: #B7A18C;
}

.site-index {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.left_index {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.top_left_index {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.bottom_left_index {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.border_btn {
    width: 250px;
    height: 55px;
    border: 2px solid #845946;
    background: none;
    color: #28272C;
}

.iti {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px auto;
    width: 90%;
}

.entrance {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 100px;
}

input, select, textarea {
    width: 440px;
    height: 50px;
    flex-shrink: 0;
    background: rgba(207, 199, 186, 0.40);
    color: #544F4C;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    margin-bottom: 20px;
}

select {
    width: 480px;
}

::placeholder, option {
    color: #544F4C;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.div_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.field-loginform-username, .field-loginform-password {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 0 auto;
}

.div_btn {
    margin: 0 auto;
    padding-top: 20px;
    width: 250px;
}

.registration {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 100px;
}

.line {
    background-color: #46312C;
    width: 100%;
    height: 40px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.posts, .posts_profile {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}

.posts_profile {
    width: 90%;
}

.post, .profile_div {
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
}

.top_post, .text_post {
    display: flex;
    flex-direction: row; 
}

.text_post {
    gap: 20px;
}

.contrnt_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.bottom_post {
    padding-top: 5px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group {
    padding: 0 auto;
}

.div_okr {
    width: 228px;
    height: 309px;
    background: #845946;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.img_photo {
    width: 245px;
    height: 325px;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    object-fit: cover;
}

.div_border {
    width: 265px;
    height: 345px;
    border: 2px solid #CFC7BA;
    position: absolute;
}

.photo {
    width: 285px;
    height: 365px;
    margin-right: 80px;
}

.left {
    text-align: left;
}

.img_like {
    float: right;
    height: 40px;
}

.content {
    width: calc(100% - 325px);
    
}

.profile {
    width: 80%;
    margin: 0 auto;
}

.profile_div {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    margin: 0 auto;
    padding: 100px;
}

.profile_top {
    display: flex;
    flex-direction: row;
}

.div_first_btn {
    background: rgba(132, 89, 70, 0.24);
    backdrop-filter: blur(25px);
    width: 190px;
    height: 34px;
    padding-top: 16px;
}

.post_btn {
    border-top: 2px solid #845946;
    border-right: 2px solid #845946;
    border-left: 2px solid #845946;
    width: 190px;
    height: 50px;
    background: none;
    color: #28272C;
}

.center, .center_btn {
    text-align: center;
    margin: 0 auto;
}

.center_btn {
    margin-top: 40px;
}

.form {
    padding: 0 auto;
}

.delete{
    height: 40px;
}